mixin card(title, lessons, timeRanges, extraClass)
  .card(class=extraClass)
    h2.title #{title}
    div.content
      each lesson, index in lessons
        if lesson.type === "перерыв"
          +break(lesson, timeRanges[index])
        else
          +lesson(lesson, timeRanges[index])

mixin cardOff(title, extraClass)
  .card(class=extraClass)
    h2.title #{title}
    div.content
      .lesson.day-off
        .time
          div 00:00
          .progress
            .progress-over
            .progress-under
          div 23:59
        .info
          strong DAY
          img(src=pathForDayOff, alt="выходной")
          strong OFF

mixin lesson(lesson, timeRange)
  .lesson
    .time
      div= timeRange.start
      .progress
        .progress-over
        .progress-under
      div= timeRange.end
    .info
      img(src=`${lesson.pathImageByType}`, alt=`${lesson.type}`)
      div
        .classroom= lesson.classroom
        .title= lesson.title
        .teacher= lesson.teacher

mixin break(obj, timeRange)
  .lesson.break
    .time
      div= timeRange.start
      .progress
        .progress-over
        .progress-under
      div= timeRange.end
    .info
      img(src=`${obj.pathImageByType}`, alt=`${obj.type}`)

