mixin day(title, lessons, timeRanges)
  .day
    h2 #{title}
    div.container
      each lesson, index in lessons
        +lesson(lesson, timeRanges[index])

mixin lesson(lesson, timeRange)
  div
    .time
      div= timeRange.start
      .progress
      div= timeRange.end
    .lesson
      img(src=`${lesson.pathImageByType}`, alt=`${lesson.type}`)
      div
        .classroom= lesson.classroom
        .title= lesson.title
        .teacher= lesson.teacher

mixin dayOff(title)
  .day
  h2 #{title}
    div.container
      div
        .time
          div= 0
          .progress
          div= 1440
        .day-off
          strong DAY
          img(src="#{pathForDayOff}", alt="выходной")
          strong OFF