mixin day(title, lessons, timeRanges)
  .day
    h2 #{title}
    div.container
      each lesson, index in lessons
        +lesson(timeRanges[index], lesson)

mixin lesson(timeRange, lesson)
  div
    .time
      div #{timeRange.start}
      .progress
      div #{timeRange.end}
    .lesson
      img(src=`${lesson.pathImageByType}`, alt=`${lesson.type}`)
      div
        .classroom #{lesson.classroom}
        .title #{lesson.title}
        .teacher #{lesson.teacher}

mixin test2(value)
  p= value.val

mixin test1(title, arr)
  h1= title
  each value in arr
    +test2(value)